<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quyet .de!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse" style="border-radius: 0px !important">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Quyet de</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/ask">Hoi nhanh</a></li>
                    <li><a href="/">Dap gon</a></li>
                </ul>
            </div>
            
        </div>
    </nav>
    <!-- <div class="container">
        <h3 id="content"></h3>
        <p>Vote: <span id="totalVote"></span></p>
        <p>Vote Yes: <span id="voteYes"></span></p>
        <p>Vote No: <span id="voteNo"></span></p>
        <a href="/"><button>Xem cau hoi khac</button> </a>
    </div> -->
    <div class="container">
            <h1 id="content" class="row text-center" style="margin-top: 60px"></h1>
            <h3 id="totalVote" class="row text-center" style="margin-top: 60px"></h3>
            <div style="display: flex">
                <div id="voteNo" style="background-color: #d9534f; height: 34px; display: inline-block; width: 50%;"></div>
                <div id="voteYes" style="background-color: #337ab7; height: 34px; display: inline-block; width: 50%;"></div>
            </div>
            <div class="row text-center">
                <button id="otherQuestion" class="btn btn-success btn-lg btn_xemcauhoikhac" style="margin-top: 60px">Xem cau hoi khac</button>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/vote.js"></script>
</body>
</html>