<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hỏi nhanh</title>


</head>

<body>
    <form action="/ask" method="post">
        <h3>Hãy hỏi cộng đồng một câu hỏi đúng/sai có/không</h3>
        <textarea name="question" id="textInput" cols="30" rows="10" maxlength="200"></textarea>
        <p id="remain">Còn /200 ký tự</p>
        <button type="submit">Gửi</button>
    </form>
    <script src="./ask.js"></script>

</body>

</html>